@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

.noto-geogia-font {
   font-family: 'Noto Serif Georgian Variable', serif !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Outfit Variable', sans-serif !important;
  background-color: #0A1421;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}