@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

.noto-geogia-font {
   font-family: 'Noto Serif Georgian Variable', serif !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Outfit Variable', sans-serif !important;
  background-color: #0A1421;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* FULL PAGE OVERLAY */
.global-loader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
}

/* LOADER */
.loader {
  width: 48px;
  height: 48px;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #c23535;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #c23535;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% { border-bottom-right-radius: 3px; }
  25% { transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% { transform: translateY(9px) rotate(67.5deg); }
  100% { transform: translateY(0) rotate(90deg); }
}

@keyframes shadow324 {
  0%, 100% { transform: scale(1, 1); }
  50% { transform: scale(1.2, 1); }
}
